div {
    font-family: Arial;
}

.all-box {
    display: inline-block;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.25);
    border-style: none;
    width: 400px ;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 3px;
}

.main-title {
    margin-top: 2px;
    margin-left: 15px;
    margin-bottom: 20px;
    color: rgb(143, 143, 143);
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;

}

.profile-pic {
    margin-right: 12px;
    margin-left: 12px;
}

.pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
}

.mail-content {
    flex: 1;
}

.mail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 4px;
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.time {
    font-size: 14px;
    color: rgb(120, 120, 120);
    margin-right: 20px;
}

.subject {
    font-weight: bold;
    margin-bottom: 5px;
}

.chat {
    color: rgb(120, 120, 120);
}